body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Sans-Serif;
    color: #f4f3ef;
    font-size: 9pt;
    .container  
}


body {background-color: #82a5b2;}
    
